<!DOCTYPE html>
<html {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ .Hugo.Generator }}
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>{{ .Title }} - {{ .Site.Params.description }}</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/strange-case.css" rel="stylesheet">
	<link href="/css/custom.css" rel="stylesheet">
	<!--<style type="text/css" media="all">
		# Optional: comment out strange-case.css above, minify it with YUICompressor and paste inline styles here to lose a request...
	</style>-->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	{{ "<!--[if lt IE 9]>" | safeHTML }}
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	{{ "<![endif]-->" | safeHTML }}
</head>
<body class="{{ .Site.Params.colorScheme }}">