{{ partial "header.html" . }}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 col-md-3 col-lg-3 sidebar">

			{{ partial "sidebar-content.html" . }}

			</div>
			<div class="col-sm-7 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-3 content">
				<div class="post">

					{{ .Content }}

				</div>
			</div>
			<div class="col-sm-1 col-md-3 col-md-4">
			</div>
		</div>
	</div>

{{ partial "footer.html" . }}